aiohappyeyeballs
aiohttp
aiosignal
altgraph
asgiref
attrs
backoff
beautifulsoup4
blinker
branca
bs4
certifi
charset-normalizer
click
colorama
dj-database-url
Django
ffmpeg-python
filelock
Flask
folium
frozenlist
fsspec
future
gunicorn
idna
iniconfig
itsdangerous
Jinja2
llvmlite
MarkupSafe
more-itertools
MouseInfo
mpmath
multidict
networkx
numba
numpy
openai-whisper
opencage
packaging
pefile
phonenumbers
pillow
Pillow-PIL
pluggy
propcache
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyperclip
PyQt6
PyQt6-Qt6
PyQt6_sip
PyRect
PyScreeze
pytest
python-vlc
pytube
pytweening
pywin32
pywin32-ctypes
regex
requests
schedule
setuptools
soupsieve
sqlparse
stripe
sympy
tiktoken
torch
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
WMI
xyzservices
yarl
yt-dlp
